{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Budgeteer{% endblock %}

{% block content %}


<main role="main" class="container">

  <div class="starter-template" style="text-align: center;padding: 3rem 1.5rem">
    <h1>Error 404: We know nothing about the page you're looking for :)</h1>
    <p class="lead">
      <a href="https://gitlab.com/micheleva/budgeteer/-/merge_requests/new" >Open a PR to give me stome styling</a>
    </p>
  </div>

</main><!-- /.container -->

</body>

{% endblock %}
