Django==2.2.13
djangorestframework==3.11.0
django-debug-toolbar==2.2.1
gunicorn==19.9.0
matplotlib==3.1.2
numpy==1.18.0
pandas==0.25.3
python-dotenv==0.10.3
pytz==2019.1
sqlparse==0.3.0
psycopg2-binary==2.8.5