#version=DEVEL
# TODO: check whether we do need this directive
# install
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=mkdev-vm-4

# Root password
rootpw --iscrypted $6$SY0.USzUwTwVcW1f$CWtcPwb6X9cXsGm.sWWS/4gWAHWL2hG1sJVlI5JMkHvahSTYGDnqNX03RE5qv7LTVKWcpHzKvavAsXfsejaSr.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc --nontp
user --groups=wheel --name=cloud-user --password=$6$.6.BTyU2O0PAJ0pW$bzNJIGpF5ZzcaTDfqnj4VMSEEb4Sau5hvRFW.FwDWCfNA7Euph7Zl6gjBqzkqDJFj9PNw0zSR1QuQ1EENxept0 --iscrypted --gecos="cloud-user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

# TODO: confirm this work as intended. source: https://www.redhat.com/archives/kickstart-list/2002-October/msg00132.html
# reboot

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%post --log=/root/grubby.log
/sbin/grubby --update-kernel=ALL --args="console=ttyS0"
%end
