{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Create expense{% endblock %}

{% block content %}
<script src="{% static 'js/main.js' %}" defer></script>
<div class="container-fluid">
  <div class="col-md-12">
      <h3>New Expense</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <button type="button" class="btn btn-info" onclick="setToday(this)">Use today as date</button>
          <input id="id_submit" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
{% endblock %}


