{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Create Monthly Budget{% endblock %}

{% block content %}
<script src="{% static 'js/main.js' %}" defer></script>

<div class="container-fluid">
  <div class="col-md-12">
      <h3>New Monthly Budget</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Save">
          <button type="button" class="btn btn-info" onclick="firstDayOfThisMonth(this)">Balance for this month</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


