{% extends 'base.html' %}
{% load staticfiles %}
{% load budgets_tags %}


{% block preload_js %}
  <link href="{% static 'js/main.js' %}" rel="reload" as="script">
{% endblock %}

 
{% block content %}

  <script src="{% static 'js/main.js' %}" defer></script>

  <h1>Multiple new monthly budgets</h1>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <!-- TODO: add whether this balance is a foreign currency or not -->
        {% include "budgets/multiple_create_form.html" with form=form%}
    {% endfor %}
    <input type="submit" value="Create all monthly budgets">
    <a href="{% url 'budgets:monthly_budgets' %}">cancel</a>
  </form>
{% endblock %}
