{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- TODO: This page layout is completely different from the rest of the site. Fix it -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
          <div class="col-12">
            <h4 class="mb-1">Goal title: {{ object.text }}</h4>
            <h4 class="mb-1">Is this a foreign currency? {{ object.category.text }}</h4>
            <h4 class="mb-1">ID: {{ object.date }}</h4>
          </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
