{% extends 'base.html' %}
{% load staticfiles %}
{% load budgets_tags %}


{% block preload_js %}
  <link href="{% static 'js/main.js' %}" rel="preload" as="script">
{% endblock %}

{% block content %}

  <script src="{% static 'js/main.js' %}" defer></script>

  <h1>Multiple new monthly balances</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {% include "budgets/multiple_create_form.html" with form=form%}
    {% endfor %}
    <input type="submit" value="Create all monthly balances">
    <a href="{% url 'monthly_balances' %}">cancel</a>
  </form>
{% endblock %}
