{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="all">
    {% block preload_js %}{% endblock %}
  </head>

  <body>
    <div class="container-fluid">
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}
    </div>
  </body>

  <div class="col-md-12">
    <div class="text-center">
      <footer class="page-footer font-small">
        <span id="footer_text">
          If this is horizontally centered, CSS was loaded correctly ;)
        </span>
      </footer>
    </div>
  </div>

</html>