{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div>
        <form method="POST" action="{% block action %}{% endblock %}">
          <div class="form-group">
            {{ form.text }}
          </div>
          <div class="form-check">
            {{ form.is_foreign_currency }}
            <label class="form-check-label" for="exampleCheck1">Foreign currency</label>
          </div>

          {% if errors %}
              <div>{{ errors }}</div>
          {% endif %}

          {% csrf_token %}
        </form>

        <div class="table-responsive-md table-sm">
          <table class="table" id="id_categories">
            <tr>
              <th>Category ID</th>
              <th>Category name</th>
            </tr>
            {% for category in categories %}
              <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.text }}</td>
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
