<html>
  <title>Categories</title>
  <body>
    <form method="POST" action="new_expense">
      <input name="expense_amount" id="id_new_expense_amount" placeholder="Enter a new expense" />
      <!-- <input name="release_date" id="id_new_expense_date" placeholder="Enter the date of the expenses" /> -->
    <select name="category" id="id_expenses_category">
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.text }}</option>
      {% endfor %}
    </selet>

      {% csrf_token %}
    </form>
    <hr>

    <table id="id_expenses">
      {% for expense in expenses %}
        <tr><td>{{ expense.amount }} : {{ expense.category.text }} ({{ expense.spended_date }})</td></tr>
      {% endfor %}
    </table>

  </body>
</html>
