{% extends 'base.html' %}

{% block title %}Expenses{% endblock %}

{% block content %}
<h5 id="id_current_month_date">Expenses logged during {% now 'Y-m' %}</h5>
<hr>
<form method="POST" action="/new_expense">
  {% csrf_token %}
  {{ form }}
  <input type="submit" id="id_submit" value="Submit">
</form>
  {% if errors %}
      <div>{{ errors }}</div>
  {% endif %}
  {% csrf_token %}
<hr>

<table id="id_expenses">
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Spended date</th>
    <th>Note</th>
  </tr>
  {% for expense in expenses %}
    <tr>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.category.text }}</td>
      <td>{{ expense.spended_date }}</td>
      <td>{{ expense.note }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
