{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Expenses{% endblock %}

{% block content %}
<div class="row">
  <div  class="col">
    <h5 id="id_current_month_date">Expenses logged during {{ month }}</h5>
    <hr>
    <form method="POST" action="{% url 'new_expense' %}">
      {% csrf_token %}
      <!-- FIXME: As this form contains the previously entered data
           We need to hide the errors, in order to be able
          to show them all at once, after the submit button -->
      {% for field in form %}
            {{ field.label_tag }} {{ field }}
      {% endfor %}
      <input type="submit" id="id_submit" value="Submit">
    </form>
      {% if errors %}
          <div>{{ errors }}</div>
      {% endif %}

      {% csrf_token %}
  </div>
</div>

<div class="row">
  <div  class="col">
    <div class="table-responsive-md table-sm">
      <table class="table" id="id_expenses">
      <tr>
        <th>Spended date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Note</th>
      </tr>
      {% if expenses_sum %}
        <tr>
          <td> - </td>
          <td><b>{{ expenses_sum | intcomma }}</b></td>
          <td><b>Total</b></td>
          <td> - </td>
        </tr>
      {% endif %}
      {% for expense in expenses %}
        <tr>
          <td>{{ expense.date }}</td>
          <td>{{ expense.amount | intcomma }}</td>
          <td>{{ expense.category.text }}</td>
          <td>{{ expense.note }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

  {% if pie_graph %}
    <div class="col">
      <img src="data:image/png;base64,{{ pie_graph }}" class="img-fluid" alt="Pie graph">
    </div>
  {% endif %}

</div>
{% endblock %}
