{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Monthly Balances{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'new_monthly_balance' %}">
    {{ form }}
    <input type="submit" id="id_submit" value="Submit">
    {% csrf_token %}
  </form>

  {% if errors %}
      <div>{{ errors }}</div>
  {% endif %}
  {% csrf_token %}

  {% if bar_graph %}
    <div >
      <img src="data:image/png;base64,{{ bar_graph }}" class="img-fluid" alt="Bar graph">
    </div>
  {% endif %}


<table class="table table-responsive-md table-sm" id="id_monthly_balances">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    {% if not bar_graph %}<th>Category</th> {% endif %}
  </tr>
  {% for monthly_balance in monthly_balance reversed%}
    <tr>
      <td>{{ monthly_balance.date | date:'Y-m' }}</td>
      <td>{{ monthly_balance.amount | intcomma }}</td>
      {% if not bar_graph %}<td>{{ monthly_balance.category.text }}</td> {% endif %}
    </tr>
  {% endfor %}
  {% if total > 0 and not bar_graph%}
    <tr>
      <td>Total</td>
      <td>{{ total }}</td>
      <td> - </td>
    </tr>
  {% endif %}
</table>

{% endblock %}